.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form > input{
    height: 30px;
    border: 2px grey solid;
    border-radius: 5px;
}
